#no-wrap {
  white-space: nowrap;
}

#inline {
  vertical-align: middle;
  display: inline-flex;
}

.wd-trend-title {
  font-weight: bold;
  line-height: 28px;
  font-size: 15px;
}

.wd-trend-subtitle {
  color: rgb(110, 118, 125);
  font-size: 13px;
}

.wd-post-title {
  line-height: 32px;
  font-size: 15px;
}

.wd-post-author {
  font-size: 13px;
  margin-right: 10px;
}

.wd-post-image {
  border-radius: 15%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: right;
}
